<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="headerFragment">
    <header class="header-container">

        <img th:src="@{/images/CareerUp-Logo.png}" alt="CareerUp5 logo">
        <a th:href="@{/recomendacao/listar}" class="btn-primary">função principal</a>
        <a th:href="@{/usuario/listar}" class="btn-secondary">Gerenciar usuários</a>
        <a th:href="@{/email/cadastrar-feedback}" class="btn-primary">Enviar um feedback</a>
        <a th:href="@{/email/feedbacks}" class="btn-secondary">Ver feedbacks</a>

        <a th:href="@{/logout}" class="btn-danger">Logout</a>

    </header>
</div>
</body>
</html>